@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f2f5;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.fb-transition {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change:
    transform, opacity, background-color, color, border-color, box-shadow;
}
.bottom-nav {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  will-change: box-shadow;
}
#createPostModal.hidden {
  display: none;
}
.liked {
  color: #0866ff;
  font-weight: 700;
}
.no-scroll {
  overflow: hidden;
}
#createPostModal > div:first-of-type {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
  will-change: transform, opacity;
}
